Source: libconsul-c
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), libjansson-dev, libcurl-dev
Standards-Version: 3.9.6

Package: libconsul-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjansson-dev, libcurl4-openssl-dev
Description: C binding Consul client library
 Connects to a Consul server for service discovering.
 .

Package: libconsul-c-dev
Architecture: all
Section: devel
Depends: ${misc:Depends}, libjansson-dev, libcurl4-openssl-dev
Description: C binding Consul client library
 Connects to a Consul server for service discovering.
 .
